{% extends 'base.html.twig' %}

{% block title %}Hello InvoiceLineController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-8 mx-auto">
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="col-8 mx-auto">
				<h1>Invoice Line Form</h1>
				{{ form(form) }}
				</div>
			</div>
		</div>
	{% endblock %}
